:root {
  --primary-color: #ebedf1;
  --secondary-color: #083955;
  --tertiary-color: #6496c5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--tertiary-color);
}

body {
  color: var(--secondary-color);
  font-family: Rocket Sans, Arial, Tahoma;
}

/*Header Style*/

header {
  background-color: rgb(15, 2, 51);
  padding: 15px;
  margin: 6px, 0, 0, 0;
}

header h1 {
  color: var(--primary-color);
  font-size: 60px;
  font-weight: bold;
  margin: 25px;
  display: inline;
}

nav {
  float: right;
  margin: 0px 0px;
}

nav ul li {
  display: inline;
  margin: 0px 0px;
  font-weight: lighter;
  font-size: 22px;
  padding: 7px;
}

.headshot img {
  height: auto;
  width: 30%;
  border-radius: 5px;
  display: block;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

h2 {
  color: var(--primary-color);
  font-size: 30px;
  font-weight: bold;
  width: 30%;
  border-bottom: 2px solid var(--primary-color);
  margin: 0 0 15px 529px;
  text-align: center;
}

/*About Me Style*/

.about-me {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin: 0 0 15px 0;
}

/*My Work Style*/
.project1 img {
  width: 100%;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

/*Resume Style*/
.resume {
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}

/*Contact Style*/
.contact-me {
  font-size: 15px;
  text-align: center;
}

/*Footer Style*/

footer {
  border-bottom: 110px solid rgb(15, 2, 51);
}

/*Media Queries*/
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
}
